body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("assets/images/baroque_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-image 1s ease-in-out; /* Smooth transition for background image */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 3em;
    margin-top: 0; /* Adjust margin to move content up */
    animation: fadeIn 2s ease-in-out;
}

p {
    color: #ffffff;
    font-size: 1.2em;
    margin: 10px 0;
    animation: fadeIn 2s ease-in-out;
}

img {
    border-radius: 50%;
    position: absolute;
    margin: 20px 0;
    top: 1%;
    left: 77%;
    width: 50px;
    height: 50px;
    animation: fadeIn 2s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
    animation: fadeIn 2s ease-in-out;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#preview-container {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.message-box {
    display: none;
    font-size: 0.7em;
    position: absolute;
    top: 10px; /* Adjusted to position further from the Music bar */
    left: 110px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    width: 300px;
    animation: fadeIn 1.7s ease-in-out;
}

.message-box p {
    display: none;
    animation: fadeInText 0.5s ease-in-out forwards;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.message-box.fade-out {
    animation: fadeOut 2s ease-in-out forwards;
}

.copyright-container {
    font-size: 0.7em;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8); /* Optional: Add background color */
}

.special-link {
    color: #ffffff; /* White color for the link */
    text-decoration: none; /* Optional: Remove underline */
}

special-link:hover {
    color: #007BFF; /* Blue color on hover */
}

.dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
}

.dropbtn {
    background-color: #007BFF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px; /* Ensure all buttons have the same width */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(193, 37, 196);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.7em; /* Same font size as h3 */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover + .message-box {
    display: block;
}

.dropdown-section {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown-section h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 0.7em;
    color: #007BFF;
    cursor: pointer;
}

.dropdown-section .music-list {
    display: none;
    padding-left: 20px;
    max-height: 30vh; /* Set maximum height to 50% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.dropdown-section .music-list a {
    display: block;
    margin: 5px 0;
}

.dropdown-section .expand-tab {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.music_names {
    font-size: 0.7em;
    color: #ffffff;
}

.cd-container {
    position: fixed;
    top: 1%;
    left: 72%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: auto;
    margin-left: 20px;
}

.cd {
    border-width: 50%;
    position: absolute;
    margin: 20px 0;
    top: 1%;
    left: 77%;
    animation: spin 2s linear infinite;
    animation-play-state: paused; /* Start paused */
    transition: background-image 1s ease-in-out; /* Smooth transition for CD image */
}

.stop-button {
    position: fixed;
    top: 3.1%;
    left: 60%;
    padding: 5px 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.stop-button:hover {
    background-color: #cc0000;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.legend-mode-button,
.classical-mode-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    animation: pulse 5s infinite;
    width: 200px; /* Ensure both buttons have the same width */
}

.classical-mode-button {
    top: 60px; /* Position below the legend mode button */
    background-color: #008080;
    animation: ocean-rise-fall 5s infinite;
}

@keyframes ocean-rise-fall {
    0%, 100% {
        transform: translateY(0);
        background-color: #008080;
    }
    50% {
        transform: translateY(-10px);
        background-color: #00ced1;
    }
}

.legend-mode-button:hover,
.classical-mode-button:hover {
    background-color: #20b2aa;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.typing-text {
    position: fixed;
    top: 120px;
    right: 10px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.typing-text::after {
    content: '';
    border-right: .15em solid white;
    animation: blink-caret .75s step-end infinite;
}

@keyframes pulse {
    0% {
        background-color: #ff4500;
    }
    25% {
        background-color: #8a47ff;
    }
    50% {
        background-color: #ff00b7;
    }
    75% {
        background-color: #25d92b;
    }
    100% {
        background-color: #ffffff;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 1px) rotate(0deg); }
    30% { transform: translate(3px, 1px) rotate(0deg); }
    40% { transform: translate(1px, 1px) rotate(0deg); }
    50% { transform: translate(-1px, 1px) rotate(0deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, 1px) rotate(0deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, 1px) rotate(0deg); }
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
    
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0.7; /* Adjust transparency */
    transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
}

.video-background iframe {
    width: 80%;
    height: 80%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 1s ease-in-out; /* Smooth transition for transform */
}

body.legend-mode-active .video-background {
    opacity: 1; /* Fully visible when legend mode is active */
}

body.legend-mode-active {
    background-image: none; /* Remove background image when legend mode is active */
}

.video-control-button {
    display: none; /* Hide by default */
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.video-control-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

body.legend-mode-active .video-control-button {
    display: block; /* Show when legend mode is active */
}

.exit-legend-mode-button {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.exit-legend-mode-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.exit-classical-mode-button {
    position: fixed;
    top: 5%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.exit-classical-mode-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}


